<div class="background"></div>

<div class="column-container">

  <!--- Left Content -->
  <div class="col-sm-6 left-column">
    <div class="left-column-overlay"></div>
    <img src="/assets/img/logo_white.png" alt="White Logo" class="left-column-logo"/>
  </div>
  <!--- End Left Content -->

  <!--- Right Content -->
  <div class="col-sm-6 right-column">
    <div class="right-container">
      <div>
        <h4 class="text-left">Date & Place</h4>
        <div class="separator-2"></div>
        <p>
          <strong>Date / Time:</strong> December 4th (Fri) / 5:00pm〜10:00pm<br/>
          <strong>Place:</strong> TBD<br/>
          <strong>Address:</strong> TBD<br/>
        </p>
        <p>
          <strong>日時:</strong> 2020年12月04日(金) 17:00〜22:00<br/>
          <strong>場所:</strong> TBD<br/>
          <strong>住所:</strong> TBD<br/>
        </p>
        <br/>
      </div>
      <div>
        <h4 class="text-left">Schedule</h4>
        <div class="separator-2"></div>
        <p>
          <strong>5:00 PM</strong> Ceremony<br/>
          <strong>5:30 PM</strong> Registration & Cocktail Hour<br/>
          <strong>6:30 PM</strong> Reception<br/>
        </p>
        <p>
          <strong>5:00 PM</strong> 結婚式 (自由にご見学ください。)<br/>
          <strong>5:30 PM</strong> 受付＆カクテルアワー<br/>
          <strong>6:30 PM</strong> 披露宴<br/>
        </p>
        <br/>
      </div>
      <div>
        <h4 class="text-left">Dress Code</h4>
        <div class="separator-2"></div>
        <p>
          <strong>Dress Code:</strong> Business Casual<br/>
          &nbsp;&nbsp;&nbsp;Men - Dress shoes, long dress pants, and a collared shirt are required.<br/>
          &nbsp;&nbsp;&nbsp;Women - Fashionable attire, heels.
        </p>
        <p>
          <strong>服装:</strong> クールビズ　<span style="font-size: 10px;">(アロハシャツOK！必須ではないです。)</span><br/>
          &nbsp;&nbsp;&nbsp;男性　−　襟付きシャツ、長ズボン、ドレスシューズ（スニーカー、サンダル不可）<br/>
          &nbsp;&nbsp;&nbsp;女性　−　カジュアルすぎない洋服、ヒール
        </p>
        <br/>
      </div>
      <div>
        <h4 class="text-left">Parking</h4>
        <div class="separator-2"></div>
        <p>
          Free valet parking provided.
        </p>
        <br/>
      </div>
      <div>
        <h4 class="text-left">Floor Map</h4>
        <div class="separator-2"></div>
        <img src="../assets/img/halekulani_map.jpg" alt="Map of Halekulani" style="width:100%;height:auto;">
        <br/>
        <br/>
      </div>
  <!--    <div>-->
  <!--      <h4 class="text-left">その他</h4>-->
  <!--      <div class="separator-2"></div>-->
  <!--      <p>-->
  <!--        ＜ハレクラニに宿泊を御検討されている方へ＞-->
  <!--        <br/>-->
  <!--        &nbsp;&nbsp;&nbsp;&nbsp;20％offの特別ディスカウント制度が御座います。ご希望の方はマイク又はエリコにご連絡ください。-->
  <!--      </p>-->
  <!--      <br/>-->
  <!--      <br/>-->
  <!--    </div>-->
    </div>
  </div>
  <!-- End Right Content -->

</div>
