<app-header></app-header>
<!-- <nav id="wedding-menu" class="navmenu navmenu-fixed-left offcanvas" role="navigation">
  <div id="home-button" class="sidenav-link top-border sidenav-link-text" (click)="toggleNavMenu()" routerLink="/" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">HOME
  </div>
  <div id="rsvp-button" class="sidenav-link sidenav-link-text" (click)="toggleNavMenu()" routerLink="/rsvp" routerLinkActive="active">RSVP</div>
  <div id="info-button" class="sidenav-link sidenav-link-text" (click)="toggleNavMenu()" routerLink="/info" routerLinkActive="active">INFO</div>
</nav>
<div class="navbar navbar-default navbar-white navbar-fixed-top">
  <button type="button" aria-label="Menu Button" id="menu-button" class="navbar-toggle navbar-toggle-left" (click)="toggleNavMenu()">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div> -->

<router-outlet></router-outlet>
